name: Build and Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    env:
      msg: ${{ github.event.head_commit.message }}
    steps:
      - id: create-github-token
        name: Create GitHub Token
        uses: peter-murray/workflow-application-token-action@v3
        with:
          application_id: ${{ vars.GH_APP_ID }}
          application_private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - id: setup-repo
        name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.create-github-token.outputs.token }}
      - id: setup-fonts
        name: Setup Fonts
        uses: fontist/setup-fontist@v2
      - id: install-fonts
        name: Install Fonts
        run: fontist install "Roboto"
      - id: setup-typst
        name: Set up Typst
        uses: typst-community/setup-typst@v4
        with:
          version: "v0.14.0"
      - id: compile
        name: Compile Typst
        run: |
          mkdir -p "./dist"

          typst compile resume/resume.typ dist/resume.pdf --font-path /home/runner/.fontist/fonts
      - id: get-current-version
        name: Get Current Version
        run: |
          echo "version=$(cat ./config.json | jq -r .version)" >> $GITHUB_OUTPUT
      - id: upgrade-version
        name: Upgrade version
        run: |
          # get current version from previous step
          current_version=${{ steps.get-current-version.outputs.version }}

          # get most recent commit message on main
          commit_message="${{ env.msg }}"

          # Split up version into an array using parameter expansion with regex
          if [[ $current_version =~ ([0-9]+)\.([0-9]+)\.([0-9]+) ]]; then
            declare -i major="${BASH_REMATCH[1]}"
            declare -i minor="${BASH_REMATCH[2]}"
            declare -i patch="${BASH_REMATCH[3]}"
          fi

          if [[ $commit_message =~ "feat" ]]; then
            # increment major version
            if [[ $commit_message =~ "!" ]]; then
              major=$((major + 1))
              # reset minor and patch to zero
              minor=0
              patch=0
            else
              # increment minor version
              minor=$((minor + 1))
              # reset patch version
              patch=0
            fi
          fi

          # increment patch
          if [[ $commit_message =~ "fix" ]]; then
            patch=$((patch + 1))
          fi

          # update version in config
          new_version="${major}.${minor}.${patch}"

          tmp=$(mktemp)

          jq --arg a "$new_version" '.version = $a' config.json > "$tmp" && mv "$tmp" config.json

          echo "version=$new_version" >> $GITHUB_OUTPUT
      - id: commit-changes
        name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: released resume version ${{ steps.upgrade-version.outputs.version }} [skip ci]
      - id: apply-version-to-file
        name: Apply version
        run: |
          bash ./.github/scripts/apply-version.sh
        env:
          UPGRADED_VERSION: ${{ steps.upgrade-version.outputs.version }}
      - id: upload-build-dir
        name: Upload Build dir
        uses: actions/upload-artifact@v4
        with:
          name: harris-resume
          path: ./dist/resume

  publish:
    name: "Publish Resume to S3"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_IAM_ARN }}
          role-session-name: publishResumeToS3Session
          aws-region: ${{ vars.AWS_REGION }}
      - id: download-artifact
        name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: harris-resume
          path: ./dist/resume
      - id: publish-to-s3
        name: Publish to S3
        run: |
          aws s3 sync ./dist/resume s3://${{ vars.AWS_BUCKET }}
